{% extends 'ui_components/base.html' %}

{% block title %}Add Purchase{% endblock title %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Add Purchase</h4>
                <h6>Create a new purchase entry</h6>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    
                    <div class="row">
                        <!-- Assuming your PurchaseForm has fields like 'supplier', 'raw_material', etc. -->
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="id_supplier">Supplier</label>
                                {{ form.supplier }}
                                {{ form.supplier.errors }}
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="id_raw_material">Raw Material</label>
                                {{ form.raw_material }}
                                {{ form.raw_material.errors }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="id_quantity">Quantity</label>
                                {{ form.quantity }}
                                {{ form.quantity.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="id_unit_price">Unit Price</label>
                                {{ form.unit_price }}
                                {{ form.unit_price.errors }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="id_status">Status</label>
                                {{ form.status }}
                                {{ form.status.errors }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="id_payment_details">Payment Details</label>
                                {{ form.payment_details }}
                                {{ form.payment_details.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-lg-12 ">
                            <div class="form-group">
                                <label for="id_additional_notes">Additional Notes</label>
                                {{ form.additional_notes }}
                                {{ form.additional_notes.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="{% url 'purchase_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
